<ion-tabs>
  <ion-tab-bar
    slot="bottom"
    class="border-t border-neutral-200 dark:border-neutral-700"
  >
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp" color="tertiary"></ion-icon>
      <ion-label color="tertiary">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star-sharp" color="tertiary"></ion-icon>
      <ion-label color="tertiary">Favorites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-sharp" color="tertiary"></ion-icon>
      <ion-label color="tertiary">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
